body {
	background-color: #2F2F2F;
}

body {
	color: #FFFFFF;
}

p {
	font-family: "courier new", serif;
	font-style: normal;
	font-size: 25pt;
}

em {
	font-family: "courier new", serif;
	font-style: normal;
	font-weight: bold;
	font-size: 25pt;
}

h1 {
	font-family: "cofo-kabeltouw-stencil-56", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 150pt;
	text-align: center;
}	

h2 {
	font-family: "cofo-kabeltouw-stencil-56", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 100pt;
}

h3 {
	font-family: "cofo-kabeltouw-stencil-56", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 50pt;
}

h4 {
	font-family: "cofo-kabeltouw-solid-0", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20pt;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
	display: inline;
}
li a {
	display: box;
	padding: 14px 16px;
	color: #FFFFFF;
	font-size: 25pt;
	text-decoration: none;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: hotpink;
	transform: scale(1.2);
}

.attribute {
	color: hotpink;
	text-decoration: underline;
}

.Navigation {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	gap: 20px;
	font-family: "cofo-kabeltouw-stencil-56", sans-serif;
	font-weight: 400;
	font-style: normal;
	top: 0;
	position: fixed;
	padding: 15px;
	background-color: #2F2F2F;
	width: 100vw;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gallery__item--2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gallery__item--3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--4 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.gallery__item--6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.gallery__item--7 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}

.gallery__item--8 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.gallery__item--9 {
	grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}

.featureL {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 25px;
	margin: auto;
	width: 90vw;
	height: 800px;
	border-radius: 25px;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.feature1 {
	background-image: url("images/Scop-Home_Feature.png");
	background-repeat: no-repeat;
	background-position: center;
}
.feature2 {
	background-image: url("images/Endo-Home_Feature.png");
	background-repeat: no-repeat;
	background-position: center;
}
.feature3 {
    background-image: url("images/Play-Home_Feature.png");
    background-repeat: no-repeat;
    background-position: bottom;
}
.feature4 {
    background-image: url("images/Bill-Home_Feature.png");
    background-repeat: no-repeat;
    background-position: center;
}
.feature5 {
    background-image: url("images/Eternal-Home_Feature.png");
    background-repeat: no-repeat;
    background-position: center;
}
.feature6 {
    background-image: url("images/Too-Home_Feature.png");
    background-repeat: no-repeat;
    background-position: center;
}

.tags-border {
    border: 4px solid white;
    border-radius: 50px;
    padding: 7px;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.featureHead {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	padding-bottom: 30px;
}

.text {
	position: inherit;
	top: 50%;
    width:99%;    
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;	
}

.scopHead {
	background-image: url("images/Scop-Shorts_Feature.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 99vw;
}

.endoHead {
	background-image: url("images/Endo-Shorts_Feature.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 99vw;
}

.playHead {
	background-image: url("images/Play-Shorts_Feature.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 99vw;
}

.billHead {
	background-image: url("images/Bill-Shorts_Feature.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 99vw;
}

.eternalHead {
	background-image: url("images/Eternal-Shorts_Feature.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 99vw;
}

.tooHead {
	background-image: url("images/Too-Shorts_Feature.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 99vw;
}

.row {
	display: flex;
	flex-direction: row;
	gap:20px;
	justify-content: space-evenly;
}

.container {
	width: 800px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-content: center;
	padding: 25px;
}

iframe {
	padding-top: 100px;
}


.gallery-grid {
	height: 2300px;
	width: 80vw;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1/4vw);
	grid-template-rows: repeat(6, 320px);
	gap: 20px;
	align-self: center;
	padding-top: 20px;
	padding-bottom: 0px;
}

.cover {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.fixed-image {
	height: 640px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.top-image {
	background-position: top;
}

.P1 {
	background-image: url("images/P1.png");
}
.P2 {
	background-image: url("images/P2.png");
}
.P3 {
	background-image:url("images/P3.png");
}
.P4 {
	background-image: url("images/P4.png");
}

.cs1 { grid-column-start: 1; }
.cs2 { grid-column-start: 2; }
.cs3 { grid-column-start: 3; }
.cs4 { grid-column-start: 4; }

.ce1 { grid-column-end: 1; }
.ce2 { grid-column-end: 2; }
.ce3 { grid-column-end: 3; }
.ce4 { grid-column-end: 4; }

.rs1 { grid-row-start: 1; }
.rs2 { grid-row-start: 2; }
.rs3 { grid-row-start: 3; }
.rs4 { grid-row-start: 4; }
.rs5 { grid-row-start: 5; }
.rs6 { grid-row-start: 6; }
.rs7 { grid-row-start: 7; }

.re1 { grid-row-end: 1; }
.re2 { grid-row-end: 2; }
.re3 { grid-row-end: 3; }
.re4 { grid-row-end: 4; }
.re5 { grid-row-end: 5; }
.re6 { grid-row-end: 6; }
.re7 { grid-row-end: 7; }


.text > .featureHead



